<div class="card p-3">
    <p-fieldset>
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2 px-2">
                <p-avatar image="../../../assets/team-logo-ideas-v0-q6wvrjtwy9cd1.webp" shape="circle" />
                <span class="font-bold">{{team?.name}}</span>
            </div>
        </ng-template>
        <div class="grid">
            <div class="col-6">

                <h3 class="m-0">
                    owner: {{team?.ownerFullName}}
                </h3>
                <p class="mt-2">
                    {{team?.description}}
                </p>
                <div class="card flex flex-column justify-content-center">
                    <h3>members:</h3>
                    @if (this.membersAll?.length) {
                    
                        <div class="flex mb-2">
                            <input type="text" pInputText [(ngModel)]="searchUser"/>
                            <p-button icon="pi pi-search" (onClick)="searchingUser()"/>
                        </div>

                    <p-scroller [items]="this.members" [itemSize]="50" scrollHeight="200px"
                        styleClass="border-1 surface-border" [style]="{'width': '300px', 'height': '200px','border-radius':'10px'}">
                        <ng-template pTemplate="item" let-item let-options="options">
                            <div class="flex align-items-center p-2 font-bold"
                                [ngClass]="{'nothing-item': item.fullName === 'nothing!!','surface-ground': options.odd}"
                                style="height: 50px;">
                                {{ item.fullName }}
                            </div>
                        </ng-template>
                    </p-scroller>
                    <p-button label="َAdd new" (onClick)="invitionDialog=true" class="mt-2" icon="pi pi-plus-circle"
                        [rounded]="true" severity="success" />
                    }@else {
                    your team has no member! yet!!
                    <p-button label="َAdd member" (onClick)="invitionDialog=true" class="mt-2" icon="pi pi-plus-circle"
                        [rounded]="true" severity="success" />
                    }
                </div>
            </div>
            <div class="col-6">
                <h3></h3>
            </div>
        </div>
    </p-fieldset>
</div>

<p-dialog header="Invite Member" [modal]="true" [(visible)]="invitionDialog" (onHide)="resetInvite()"
    [style]="{ width: '39rem',height:'22rem' }">

    <div class="card flex justify-content-center">
        <p-dropdown [options]="users" [(ngModel)]="selectedUsers" optionLabel="name" [filter]="true" filterBy="name"
            [showClear]="true" placeholder="Select a User" styleClass="w-30rem">
            <ng-template pTemplate="filter" let-options="options">
                <div class="flex gap-1">
                    <div class="p-inputgroup" (click)="$event.stopPropagation()">
                        <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                        <input type="text" pInputText placeholder="Filter" [(ngModel)]="filterValue"
                            (keyup)="customFilterFunction($event, options)" />
                    </div>
                    <button pButton icon="pi pi-times" (click)="resetFunction(options)"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                    <img [src]="selectedOption.profileImageUrl" style="width: 28px" />
                    <div>{{ selectedOption.fullName }}</div>
                </div>
            </ng-template>
            <ng-template let-user pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <img [src]="user.profileImageUrl" style="width: 28px" />
                    <div>{{ user.fullName }}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
    <div class=" flex justify-content-center mt-2">
    <p-dropdown 
        styleClass="w-30rem"
        [options]="roles" 
        [(ngModel)]="selectedRoles" 
        optionLabel="lable"
        optionValue="roleId" 
        placeholder="Select a Role" />
    </div>
    <div class="mt-7 flex justify-content-center">
        <p-button label="َAdd new" [disabled]="!selectedUsers || !selectedRoles" (onClick)="inviteUser()" icon="pi pi-plus-circle" [rounded]="true"
            severity="success" />
    </div>
</p-dialog>